.container {
  width: 100%;
  position: relative;
  top: 90px;
}
.container img {
  width: 100%;
}
.headerTitle {
  position: absolute;
  color: #fff;
  font-weight: 600;
  width: 35%;
  font-size: 22px;
  top: 220px;
  left: 50px;
}
.welcomeMsg {
  display: flex;
  height: 150px;
}
.welcomeMsg p {
  width: 50%;
  text-align: center;
  color: #565656;
}
