.container {
  width: 100%;
  margin-top: 90px;
}
.container img {
  width: 100%;
}
.headerTitle {
  font-weight: 800;
  width: 35vw;
  font-size: 22px;
}
.welcomeMsg {
  display: flex;
  height: fit-content;
  padding-bottom: 20px;
  padding-top: 20px;
}
.welcomeMsg p {
  width: 50%;
  text-align: center;
  color: #565656;
}
.respHeader {
  display: none;
}
@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
  .respHeader {
    display: block;
  }
  .container {
    position: relative;
    left: 0;
    top: 30px;
    width: 100vw;
    margin: 0;
  }
  .headerTitle {
    width: 100%;
    font-size: 16px;
    left: 0;
  }
  .headerTitle p {
    text-align: center;
    width: 80%;
  }
  .welcomeMsg {
    display: flex;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    background-color: #fff;
    width: 100%;
  }
  .welcomeMsg p {
    width: 80%;
    font-size: 12px;
  }
  .responsiveCarousel {
    height: 200px;
    display: flex;
  }
  .responsiveCarousel img {
    width: fit-content;
    object-fit: cover;
  }
}
