.loading {
  position: relative;
  top: 0;
  left: 0;
  background-color: #097a32;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.loadingAnimation {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: relative;
  top: 40px;
}
.loading img {
  width: 30vw;
  position: relative;
  right: 15px;
}
.loading h2 {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .loading img {
    width: 80vw;
    position: relative;
    right: 15px;
  }
}
