.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 90px;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999 !important;
  background-color: #fff;
}
.logoContainer {
  padding-top: 30px;
  cursor: pointer;
}
.logoContainer img {
  width: 270px;
}

.menu,
.responsiveClosedMenu {
  display: flex;
  width: 100%;
  background-color: #126035;
  height: 30px;
  align-items: center;
  box-shadow: -1px 4px 5px 0px rgba(0, 0, 0, 0.28);
}
.menu ul,
.responsiveClosedMenu ul {
  display: flex;
  margin-left: 0px;
}
.menu ul li,
.responsiveClosedMenu ul li {
  color: #fff;
  list-style: none;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}
.socialMedia {
  margin-right: 30px;
  display: flex;
  height: 30px;
  align-items: center;
}
.socialMedia svg {
  margin-left: 5px;
  margin-right: 5px;
  fill: #fff;
  cursor: pointer;
}

.socialMedia svg:hover,
.menu ul li:hover {
  fill: #fcdd00;
  transition: 0.25s ease-in-out;
  color: #fcdd00;
}
@media screen and (max-width: 767px) {
  .logoContainer img {
    width: 200px;
    position: absolute;
    left: 30px;
    top: 15px;
  }
  .logoContainer {
    padding-top: 0;
  }
  .menu {
    display: block;
    position: fixed;
    top: 90px;
    left: 0;
    width: 50%;
    height: 100vh;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.28);
    display: block;
    transition: 0.35s ease-in-out;
  }
  .responsiveMenu {
    position: absolute;
    top: 45px;
    right: 50px;
    z-index: 987;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  .responsiveClosedMenu {
    display: block;
    position: fixed;
    top: 90px;
    left: 0;
    width: 0%;
    height: 100%;
    box-shadow: none;
    display: block;
    transition: 0.35s ease-in-out;
  }
  .responsiveMenu .top {
    height: 3px;
    width: 30px;
    background-color: #126035;
    position: absolute;
    transition: 0.3s ease-in-out;
  }

  .activeTop {
    height: 3px;
    width: 35px;
    background-color: #126035;
    position: absolute;
    transition: 0.3s ease-in-out;
    transform: rotate(-45deg);
    transform-origin: right;
    z-index: 987;
  }
  .middle {
    height: 3px;
    width: 30px;
    background-color: #126035;
    border-radius: 50px;
    position: absolute;
    transition: 0.15s ease;
    top: 10px;
  }
  .responsiveMenu .bottom {
    top: 20px;
    height: 3px;
    width: 30px;
    background-color: #126035;
    position: absolute;
    transition: 0.3 ease;
  }
  .activeBottom {
    height: 3px;
    width: 35px;
    background-color: #126035;
    position: absolute;
    transition: 0.3s ease-in-out;
    transform: rotate(45deg);
    transform-origin: right;
    top: 25px;
    z-index: 987;
  }
  .menu ul,
  .responsiveClosedMenu ul {
    display: block;
    margin-left: 0px;
    padding: 0;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    transition: 0.45s ease-in-out;
  }
  .hiddenList {
    transition: 0.15s ease-in-out;
    opacity: 0;
  }
  .menu ul li,
  .responsiveClosedMenu ul li {
    margin-left: 0px;
    margin-right: 0px;
  }
  .socialMedia {
    margin-right: 0px;
    padding-left: 15px;
    display: flex;
    height: 30px;
    align-items: center;
  }
}
