.container {
  width: 100vw;
}
.responsivePic {
  display: none;
}
.imgContainer {
  height: 100%;
  width: 60%;
  margin-right: 0;
  margin-top: 118px;
}
.imgContainer img {
  width: 100%;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 30vw;
  float: left;
  margin-left: 50px;
}
.infoContainer h1 {
  margin-left: 0;
  color: #126035;
  font-weight: 600;
}
.infoContainer p {
  color: #565656;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .desktopPic {
    display: none;
  }
  .responsivePic {
    display: block;
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .imgContainer img {
    width: 100vw;
  }
  .infoContainer {
    margin-top: 50px;
    width: 85vw;
    float: center;
    margin-left: auto;
  }
  .infoContainer h1,
  .infoContainer p {
    text-align: center;
    margin: auto;
  }
  .infoContainer h1 {
    margin-top: -20px;
    margin-bottom: 20px;
  }
  .infoContainer p {
    margin-bottom: 20px;
  }

  .imgContainer {
    width: 100%;
    margin-right: auto;
    margin-top: 90px;
  }
}
