.container {
  width: 100vw;
  margin-top: 100px;
}
.header {
  display: flex;
}
.header img {
  width: 100%;
}
.header h3 {
  position: absolute;
  top: 250px;
  right: 100px;
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}
.cardsContainer {
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.back label {
  cursor: pointer;
  color: #126035;
}

.backBtn {
  width: 35px;
  cursor: pointer;
}

.back {
  font-weight: 600;
  display: flex;
  width: fit-content;
  align-items: center;
  position: absolute;
  left: 16vw;
  margin-top: 50px;
}
.back svg {
  fill: #126035;
}
.headerContainer {
  width: 100vw;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.pagination {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  border-top: solid 1px #49aa75;
  padding-top: 10px;
  width: 100%;
}
.paginate {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  cursor: pointer;
}

.paginate li {
  font-weight: 400;
  cursor: pointer;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
  margin-right: 2px;
  margin-left: 2px;
  background-color: #fff;
}
.paginate li:hover {
  transition: 0.15s ease-in-out;
  outline: 0;
  color: #49aa75;
}
.paginate .active {
  color: #49aa75;

  border: solid 1px #49aa75;
}

.paginate li {
  text-decoration: none;
}
.previousNext a {
  text-decoration: none;
  font-weight: 200;
  color: #126035;
}
.loading {
  width: 100vw;
  margin-top: 100px;
}
@media screen and (max-width: 767px) {
  .header h3 {
    top: 190px;
    right: 30px;
    font-size: 30px;
  }
  .headerContainer {
    height: 150px;
  }
}
